@page "/progress"

@using LittleBlazors.Components.ProgressTrackers

<h3>ProgressTrackers</h3>

<DiscreteProgressTracker TotalSteps="@TotalSteps" CompletedSteps="@CompletedSteps">
    <CompletedStepTemplate>
        <div style="width: 10px; height: 20px; background-color: red; border: 1px solid white; float: left"></div>
    </CompletedStepTemplate>
    <IncompleteStepTemplate>
        <div style="width: 10px; height: 20px; background-color: blue; border: 1px solid white; float: left"></div>
    </IncompleteStepTemplate>
</DiscreteProgressTracker>

<br />
<DiscreteProgressTracker TotalSteps="@TotalSteps" CompletedSteps="@CompletedSteps">
    <CompletedStepTemplate>
        <div style="width: 10px; height: 20px; background-color: red; border: 1px solid white; float: left"></div>
    </CompletedStepTemplate>
    <IncompleteStepTemplate>
        <div style="width: 10px; height: 20px; background-color: blue; border: 1px solid white; float: left"></div>
    </IncompleteStepTemplate>
    <CurrentStepTemlpate>
        <div style="width: 10px; height: 20px; background-color: yellow; border: 1px solid white; float: left"></div>
    </CurrentStepTemlpate>
</DiscreteProgressTracker>

<button @onclick="CompleteStep">Complete Step</button>
<button @onclick="Reset">Reset</button>

<button @onclick="@(() => TotalSteps++)">Increase progress bar</button>
<button @onclick="DecreaseTotal">Decrease progress bar</button>

@code {
    private int CompletedSteps = 0;
    private int TotalSteps = 5;

    private void CompleteStep()
    {
        if (this.CompletedSteps < TotalSteps)
            this.CompletedSteps++;
    }

    private void Reset()
    {
        this.CompletedSteps = 0;
    }

    private void DecreaseTotal()
    {
        if (this.TotalSteps > this.CompletedSteps)
        {
            this.TotalSteps--;
        }
    }
}
